<div style="display: flex; justify-content: center;">
    <h1>Course Details page</h1>
</div>


<div style="display: flex; justify-content: center;">
<div style="border: 1px solid black; width: 70%; border-radius: 12px; padding: 34px; display: flex ; justify-content: center; align-items: center; flex-direction: column;">

    <h4>Course id:</h4>
    <div>{{courseData.id}}</div>
    <h4>Course Title</h4>
    <div>{{courseData.title}}</div>
    <h4>Course description</h4>

    <div>{{courseData.description}}</div>

    
</div>
</div>
