<p>reactive-form works!</p>






<form [formGroup]="taskForm"   (ngSubmit)="onSubmit()">

    <div>
        <label>id</label>

        <input    formControlName="id" />
    </div>

    <div *ngIf="taskForm.get('id')?.invalid && taskForm.get('id')?.touched">
        id is required
    </div>

    <div>
        <label>name</label>
        <input formControlName="name" />


        <div *ngIf="taskForm.get('name')?.errors?.['whiteSpace']">
             name has white spaces
        </div>

    </div>

    <div formGroupName="adress">
        <input  formControlName="city"/>

        <div *ngIf="taskForm.get('adress.city')?.invalid">
            City is required
        </div>
        <input  formControlName="state"/>
    </div>

    <div formArrayName="skills">


        <div *ngFor="let skill of skills.controls; let i=index">
            <label>skills</label>
            <input  [formControlName]="i">
        </div>

    </div>

    <div formArrayName="tasks">
        <div *ngFor="let task of tasks.controls; let i=index" [formGroupName]="i">
            <label>taskname</label>
            <input  formControlName="taskname">

            <label>desccriptionm</label>
            <input  formControlName="desc">
        </div>
    </div>


    <button type="button"  (click)="addSkills()" >add skills</button>



    <button  type="submit"> submit</button>
</form>
