<!-- <app-home></app-home> -->
<!-- <app-structural-directive></app-structural-directive>

<app-parent-comp></app-parent-comp> -->


<div>
    <!-- <p>App component</p>
    <a routerLink="/todo" routerLinkActive="active-route">todo</a>

    <a [routerLink]="['/queryTodo']" [queryParams]="{search:'ascending'}" >todoDetails</a>
<app-login></app-login>
    -->
    

<router-outlet></router-outlet> 



<a [routerLink]="['/rxjs']"   >rxjs</a>
    <!-- <a [routerLink]="['/course']" routerLinkActive="hide"  >Course</a> -->

    <!-- {{birthdate | date:'dd/MM/yyyy'}}<br/>

    {{price | currency:'USD'}}<br/>


    {{data | json}}<br/>


    {{myName }}<br/>


    <button (click)="transformMyName()"> trnasform</button><br/>

    {{description | truncate}}<br/> -->



    <!-- <app-template-driven-form></app-template-driven-form> -->

  
    <!-- <app-reactive-form></app-reactive-form> -->


    <!-- <app-change-detection></app-change-detection> -->

</div>